

  
  .img-custom{
    float: right;
    height: 428px;
    width: 400px;
    vertical-align: left ;
  }
  
  .custom{
   
    background-image: url('hom.png');
    background-size: cover;
    height: 19rem;
   
  
  }
  .cardContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

  }