.logoo{
    height: 70px;
    width: 80px;
}

.me-auto{
    justify-content: center;
}


.container {
    position: relative;
  }
  
  .centered-element {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }