body {
    /* fallback for old browsers */
    background: #4b4e4f;
  
   
  }

  .custom-card{
    width: 550px;
}

.image-custom{
    height: 300px;
    width: 400px;
}
.bouton{
  width: 119px;
  background: black;
 
}
.checkBoxContainer{
  display: flex;
    width: 50%;
    justify-content: space-between;
}